@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 65px;
		color:#4eb66b;
font-style: normal;
clear:both;
display:inline-block;
margin:15px auto;
}.flaticon-head21:before {
	content: "\e000";
	color:#ffd44f;margin:5px auto 0;font-size:120px;
}
.flaticon-persons8:before {
	content: "\e001";
}
.flaticon-school47:before {
	content: "\e002";
}
.flaticon-two205:before {
	content: "\e003";
}