@font-face {
  font-family: 'GE_SS_Two';
  src: url('../fonts/GE_SS_Two.eot?v=4.0.1');
  src: url('../fonts/GE_SS_Two.eot?#iefix&v=4.0.1') format('embedded-opentype'), url('../fonts/GE_SS_Two.woff?v=4.0.1') format('woff'), url('../fonts/GE_SS_Two.ttf?v=4.0.1') format('truetype'), url('../fonts/GE_SS_Two.svg?v=4.0.1#GE_SS_Tworegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body * {
  font-family: 'GE_SS_Two', Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	overflow-x: hidden;
  line-height: 1.628571;
}
a, a:hover, a:focus, a:active, a.active {
  outline: 0;
  color: #4eb66b;
  text-decoration: none;
}
footer .btn-outline {
  margin-top: 15px;
  border: solid 1px #002b3c;
  font-size: 20px;
  color: #002b3c;
  background: 0 0;
  transition: all .3s ease-in-out;
}
footer .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  border: solid 1px #002b3c;
  color: #fff;
  background: #002b3c;
}
footer {
  color: #002b3c;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  background-color: #ffd44f;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #fff;
  border-bottom: 5px solid #ffd44f;
}
footer .btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #002b3c;
  border-radius: 100%;
  text-align: center;
  font-size: 26px;
  line-height: 53px;
}
.view-register header.global nav, .view-login header.global nav {
  height: auto;
}
.view-login .introduction header {
  overflow-y: hidden;
}