<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<section class="home">
  <header class="zadi">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-12">
	        <div id="myCarousel" class="carousel slide"> 
	          <!-- Indicators -->
	          <ol class="carousel-indicators">
	            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	            <li data-target="#myCarousel" data-slide-to="1"></li>
	            <li data-target="#myCarousel" data-slide-to="2"></li>
	          </ol>
	          
	          <!-- Wrapper for slides -->
	          <div class="carousel-inner">
	            <div class="item active">
	              <div class="fill" ></div>
	              <div class="carousel-caption">
	               <i class="flaticon-head21"></i>
	                <h1>العلم لمن يريد... </h1>
	                <p class="zadi">لأي شخص، في أي مكان، و في أي وقت
	                  زادي هي مبادرة من مجموعة زاد للتعليم والتنمية</p>
	              </div>
	            </div>
	            <div class="item">
	              <div class="fill" ></div>
	              <div class="carousel-caption">
	                <h1>العلم لمن يريد... </h1>
	                <p class="zadi">لأي شخص، في أي مكان، و في أي وقت
	                  زادي هي مبادرة من مجموعة زاد للتعليم والتنمية</p>
	              </div>
	            </div>
	            <div class="item">
	              <div class="fill" ></div>
	              <div class="carousel-caption">
	                <h1>العلم لمن يريد... </h1>
	                <p class="zadi">لأي شخص، في أي مكان، و في أي وقت
	                  زادي هي مبادرة من مجموعة زاد للتعليم والتنمية</p>
	              </div>
	            </div>
	          </div>
	          
	          <!-- Controls --> 
	          <a class="left carousel-control ltr" href="#myCarousel" data-slide="prev"> <span class="icon-prev"></span> </a> <a class="right carousel-control ltr" href="#myCarousel" data-slide="next"> <span class="icon-next"></span> </a>
	        </div>
	      </div>
	    </div>
	  </div>
  </header>
  <section class="container">
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <ul class="courses-listing">
            %for course in courses:
              <li class="courses-listing-item">
                <%include file="course.html" args="course=course" />
              </li>
            %endfor
            </ul>
        </section>
      % endif

    </section>
  </section>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
