## mako
<%namespace name='static' file='/static_content.html'/>

<!-- Bootstrap Core CSS -->
<link href="${static.url('themes/zadi/css/bootstrap.min.css')}" rel="stylesheet" type="text/css">
<link href="${static.url('themes/zadi/css/zadi.min.css')}" rel="stylesheet" type="text/css">

<!-- Fonts -->
<link href="${static.url('themes/zadi/font-awesome/css/font-awesome.min.css')}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="${static.url('themes/zadi/css/flaticon.css')}">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>